<section class="banner-bottom py-5" id="blogs">
    <div class="container py-md-5">
        <div class="row mt-lg-5 mt-4">
            <div class="col-lg-4 col-md-6 team-gd text-center mt-3">
                <div class="team-img mb-4">
                    <img src="{{ url_for('static', filename='images/blog1.jpg') }}" class="img-fluid" alt="user-image">
                </div>
                <div class="team-info">
                    <h4 class="mt-md-4 mt-3"><span class="sub-tittle-wthree">Description</span> Lorem ipsum dolor sit </h4>
                    <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 team-gd second text-center mt-3">
                <div class="team-img mb-4">
                    <img src="{{ url_for('static', filename='images/blog2.jpg') }}" class="img-fluid" alt="user-image">
                </div>
                <div class="team-info">
                    <h4 class="mt-md-4 mt-3"><span class="sub-tittle-wthree">Description</span> Lorem ipsum dolor sit </h4>
                    <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 team-gd text-center mt-3">
                <div class="team-img mb-4">
                    <img src="{{ url_for('static', filename='images/blog3.jpg') }}" class="img-fluid" alt="user-image">
                </div>
                <div class="team-info">
                    <h4 class="mt-md-4 mt-3"><span class="sub-tittle-wthree">Description</span> Lorem ipsum dolor sit </h4>
                    <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>

                </div>
            </div>
        </div>

    </div>
</section>